.logo-img{
	width: 6rem;
}

.footer-wrapper{
	background-color: #515D66;
	width: 100%;
	color: #E0E1DD;
	padding: 2rem 3rem;
}
.footer-container{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer-links {
	display: flex;
	list-style: none;
	justify-content: end;
	font-size: 1rem;
	font-weight: 100;
	letter-spacing: 0.1rem;
}

.footer-link {
	margin-left: 2.5rem;
	margin-bottom: 1rem;
}

.copywrite {
	text-align: center;
	margin-top: 4rem;

}
@media screen and (max-width: 650px) {
	.footer-links {
		flex-direction: column;
		margin-bottom: 1rem;
	}
	.copywrite {
		margin-top: 0rem;
	}
}
@media screen and (max-width: 800px) {
	.footer-links {
	font-size: 1rem;
	}
	}
