.shop-container {
	width: 100%;
	padding: 0 4rem;
	margin-bottom: 3rem;
}

.shop-title {
	text-align: center;
	margin-top: 8rem;
	font-family: "Noto Serif JP", serif;
	font-size: 1.5rem;
	font-weight: 200;
	color: #515d66;
	padding-bottom: 3rem;
}

@media screen and (max-width: 784px) {
	.shop-container {
			padding: 1rem;
	}
}