@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");

.img-box {
    width: 90vw;
    height: 230px;
    min-height: 230px;
    max-width: 1440px;
    object-fit: contain;
    overflow: hidden;
    position: relative;
}

.shop-img {
    width: 100%;
    height: auto;
}

.pattern {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}
.text-box {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    z-index: 4;
    color: white;
    padding: 2rem;
    font-family: "Noto Serif JP", serif;
}

.box-title {
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.1rem;
}

.explain {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 2.2rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.show-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    color: #fff49a;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    right: 3.5rem;
    bottom: 1.5rem;
    font-size: 1.6rem;

}

.arrow {
    width: 2rem;
    height: auto;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    -webkit-filter: 1px 1px 4px rgba(0, 0, 0, 0.8);
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
}

@media screen and (max-width: 1300px) {
    .show-item {
        font-size: 1.8rem;
        right: 3.5rem;
        bottom: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .show-item {
        font-size: 1.6rem;
        right: 3rem;
        bottom: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .show-item {
        font-size: 1.3rem;
        right: 2rem;
        bottom: 1rem;
    }
}

@media screen and (max-width: 820px) {
    .pattern {
        width: 60%;
    }

    .text-box {
        width: 60%;
        padding: 1.2rem;
    }

    .box-title {
        font-size: 2rem;
    }

    .explain {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    .arrow {
        width: 1.2rem;
    }
}

@media screen and (max-width: 784px) {
    .show-item {
        font-size: 1.3rem;
        right: 1.8rem;
        bottom: 1rem;
    }
    .shop-container {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 700px) {
    .show-item {
        font-size: 1.1rem;
        right: 1.6rem;
        bottom: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .show-item {
        font-size: 1rem;
        right: 1.4rem;
        bottom: 0.6rem;
    }
}

@media screen and (max-width: 500px) {
    .pattern {
        width: 100%;
    }
    .text-box {
        width: 100%;
    }

    p {
        font-size: 1.1rem;
    }

    .show-item {
        font-size: 0.7rem;
        right: 1.2rem;
        bottom: 0.6rem;
    }
}

@media screen and (max-width: 375px) {
    .show-item {
        font-size: 0.2rem;
        right: 1.2rem;
        bottom: 0.5rem;
    }
    .shop-container {
        padding: 1rem;
    }
}
