@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

.shop-detail{
    /* width: 100vw; */
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #313C49;
    font-weight: 100;
}

.quote{
    width: 90vw;
}

.quote ::before{
    border: none;
    content: "\201C";
    font-size: 6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Noto Serif JP', serif;
    color: #E0E1DD;
    margin: 20px 20px 0px -60px;
    float: left;
}

.quote ::after{
    border: none;
    content: "\201D";
    font-size: 6rem;
    font-family: 'Noto Serif JP', serif;
    color: #E0E1DD;
    margin: -30px -50px 0px -20px;
    float: right;
}

.mask {
	font-family: 'Noto Serif JP', serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

}

.caption{
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

.price{
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
}

.show-more-button{
    width: 90vw;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.arrow{
    width: 2rem;
    height: auto;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    -webkit-filter: 1px 1px 4px rgba(0, 0, 0, 0.8);
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
}

@media screen and (max-width: 865px) {

    .arrow{
        width: 1.7rem;
    }
}

@media screen and (max-width: 820px) {

    .arrow{
        width: 1.2rem;
    }

}

@media screen and (max-width: 500px) {

    .arrow{
        width: 1rem;
    }
}